<?xml version="1.0"?>
<launch>
   <node name="sirona_plan_node" pkg="sirona" type="sirona_plan_node" output="screen">
      <param name="sub_map_topic"              type="string" value="map"                       />
      <param name="sub_target_topic"           type="string" value="rona/plan/target"          />
      <param name="sub_replan_topic"           type="string" value="rona/plan/replan"          />
      <param name="sub_add_obstacle_topic"     type="string" value="rona/plan/add_obstacle"    />
      <param name="sub_rm_obstacle_topic"      type="string" value="rona/plan/rm_obstacle"     />
      <param name="pub_path_topic"             type="string" value="rona/plan/path"            />
      <param name="pub_grid_topic"             type="string" value="rona/map/inflated"         />
      <param name="pub_grid_ob_topic"          type="string" value="rona/map/obstacles"        />
      <param name="map_frame"                  type="string" value="map"                       />
      <param name="robot_frame"                type="string" value="base_footprint"            />
      <param name="robot_radius"               type="double" value="0.35"                      />
      <param name="dt_radius"                  type="double" value="0.2"                       />
      <param name="free_robot_pos_factor"      type="double" value="0.5"                       />
   </node>
</launch>