<?xml version="1.0"?>
<launch>
	<node name="rona_path_repeat_node" pkg="rona_navigation" type="rona_path_repeat_node">
		<param name="map_frame"				type="string" value="map_slam"           />
		<param name="robot_frame"			type="string" value="base_footprint"/>
		<param name="start_x"               type="double" value="0.0" />
		<param name="start_y"               type="double" value="0.0" />	
	</node>

	<node name="rona_move_node" pkg="rona_move" type="rona_move_node">
      <param name="pub_cmd_vel_topic"			type="string" value="robot0/cmd_vel"           />
      <param name="pub_state_topic"          type="string" value="rona/move/state"   />
      <param name="pub_process_topic"        type="string" value="rona/move/process" />
      <param name="sub_path_topic"           type="string" value="rona/move/path"    />
      <param name="sub_ctrl_topic"           type="string" value="rona/move/ctrl"    />
      <param name="map_frame"                type="string" value="map_slam"               />
      <param name="robot_frame"              type="string" value="base_footprint"    />
      <param name="vel_lin_max"              type="double" value="1.0"               />
      <param name="vel_ang_max"              type="double" value="1.8"               />
      <param name="target_radius"            type="double" value="0.24"              />
      <param name="target_radius_final"      type="double" value="0.1"               />
      <param name="cos_pwr_n"                type="int"    value="4 "                />
      <param name="cos_fac_n"                type="double" value="5.2"               />
      <param name="ang_reached_range"        type="double" value="0.05"              />
      <param name="lin_end_approach"         type="double" value="1.0"               />
      <param name="lin_ctrl_scale"           type="double" value="2.0"               />
      <param name="ang_ctrl_scale"           type="double" value="8.0"               />
      <param name="min_vel_value"            type="double" value="0.001"             />
      <param name="robot_reverse_frame"	     type="string" value="base_footprint_r"           />
      <param name="do_endrotate"             type="bool"   value="false" 				 />

   </node>

   <node name="rona_plan_node" pkg="rona_plan" type="rona_plan_node" output="screen">
      <param name="map_frame"                  type="string" value="map_slam"                       />
      <param name="robot_frame"                type="string" value="base_footprint"            />
      <param name="robot_radius"               type="double" value="0.35"                      />
      <param name="dt_radius"                  type="double" value="0.2"                       />
      <param name="free_robot_pos_factor"      type="double" value="0.5"                       />
      <param name="map_scale"                  type="double" value= "4"                  />
      <param name="continuous_map_operation"   type="bool"   value= "false" />

      <remap from="map" to="map_slam"/>
   </node>

   <node pkg="tf" type="static_transform_publisher" name="base_footprint_r" 		 args="0 0 0 3.1415 0 0             base_footprint          base_footprint_r		10"/>


</launch>
